* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.form {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.form-input {
  font-size: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  width: 270px;
  height: 40px;
  border-radius: 4px;
}

.submit-btn {
  height: 40px;
  width: 90px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 32px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallary-item {
  width: 360px;
  border: #949494 solid 1px;
}

.gallary-item-info {
  padding: 4px 25px;
  display: flex;
  justify-content: space-around;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more {
  margin-top: 32px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
}

.submit-btn:hover,
.submit-btn:focus,
.load-more:hover,
.load-more:focus {
  background-color: #6c8cff;
}
